<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试请求参数</title>
</head>
<body>
<h1>测试请求参数</h1>
<p><a th:href="@{/testParam(username='admin',password=12345)}">通过控制器参数获取请求参数</a></p>
<form method="post" th:action="@{/testParam}">
    用户名：<input type="text" name="user_name"><br>
    密码：<input type="password" name="password"><br>
    爱好：<input type="checkbox" name="hobby" value="a">a
         <input type="checkbox" name="hobby" value="b">b
    <br>
    <input value="通过控制器参数获取请求参数" type="submit">
</form>
<p>***************</p>
<form th:action="@{/testPojo}" method="post">
    用户名：<input type="text" name="username"><br>
    密码：<input type="password" name="password"><br>
    性别：<input type="radio" name="sex" value="男">男<input type="radio" name="sex" value="女">女<br>
    年龄：<input type="text" name="age"><br>
    邮箱：<input type="text" name="email"><br>
    <input type="submit" value="使用实体类接收请求参数">
</form>

</body>
</html>