<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>测试RESTFul</title>
</head>
<body>
<p><a th:href="@{/user}">查询所有用户信息</a></p>
<p><a th:href="@{/user/1}">根据id查询用户信息</a></p>
<form th:action="@{/user}" method="post">
用户名：<input type="text" name="username"><br/>
密码：<input type="password" name="password"><br/>
    <input type="submit" value="添加用户信息">
</form>
<form th:action="@{/user}" method="post">
    <input type="hidden" name="_method" value="PUT">
    用户名：<input type="text" name="username"><br/>
    密码：<input type="password" name="password"><br/>
    <input type="submit" value="修改用户信息">
</form>
</body>
</html>