<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--plugins：注册插件  -->
    <plugins>
        <plugin interceptor="com.atguigu.mybatis.plugin.MyFirstPlugin">
            <property name="username" value="root"/>
            <property name="password" value="123456"/>
        </plugin>
        <plugin interceptor="com.atguigu.mybatis.plugin.MySecondPlugin">
            <property name="username" value="admin"/>
            <property name="password" value="admin"/>
        </plugin>
    </plugins>
    
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://rm-2vc74fv2d796o7u01jo.mysql.cn-chengdu.rds.aliyuncs.com:3306/mybatis?allowMultiQueries=true"/>
                <property name="username" value="hejxtomroot"/>
                <property name="password" value="Sjq201314"/>
            </dataSource>
        </environment>
    </environments>
    <!-- 将我们写好的sql映射文件（EmployeeMapper.xml）一定要注册到全局配置文件（mybatis-config.xml）中 -->
    <mappers>
        <mapper resource="EmployeeMapper.xml"/>
    </mappers>
</configuration>